<div id="content-top-nav" class="row twelve columns fixed">
  <div class="button-bar two columns">
    <ul class="button-group">
      <li>
        <a class="import button tiny radius">
          <i class="entypo-icon-upload"/>
        </a>
      </li>
      <li>
        <a class="sync button tiny radius">
          <i class="entypo-icon-cw"/>
        </a>
      </li>
    </ul>
  </div>
</div>
<div id="recent-uploads">
  <div id="recent-uploads-inner">
    <h1>Last Import</h1>
    <ul data-clearing="">
      <% lastImportImages.each(function(anImage){ %>
        <li>
          <% var thumbnail = _.first(_.filter(anImage.get('variants'), function(variant) { return variant.name === 'thumbnail.jpg'; })); %>
          <% var fullSmall = _.first(_.filter(anImage.get('variants'), function(variant) { return variant.name === 'full-small.jpg'; })); %>
          <% if (_.has(thumbnail, 'url') && (_.has(fullSmall, 'url'))) { %>
            <a href='<%= fullSmall.url %>'><img data-caption='' src='<%= thumbnail.url %>'/></a>
            <p><%= anImage.get('name').replace(/^\$/, '') %></p>
          <% } %>
        </li>
      <% }); %>
    </ul>
  </div>
</div>
<div id="galleries">
  <div id="galleries-inner">
    <h1>Galleries</h1>
  </div>
</div>
<div id="content-bottom-bar" class="row">
  <div id="content-bottom-bar-inner" class="row twelve columns">
  </div>
</div>
