/* line 7, ../../assets-compass/sass/photo-manager.scss */

div#content #content-top-nav {
  top: 45px;
  left: 45px;
  background-color: #373737;
  z-index: 1;
}
/* line 13, ../../assets-compass/sass/photo-manager.scss */
div#content #content-top-nav nav {
  height: 40px;
}
/* line 19, ../../assets-compass/sass/photo-manager.scss */
div#content #recent-uploads {
  position: relative;
  top: 0px;
  height: 35%;
  background-color: #474747;
}
/* line 25, ../../assets-compass/sass/photo-manager.scss */
div#content #recent-uploads #recent-uploads-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 50px 10px 10px 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}
/* line 35, ../../assets-compass/sass/photo-manager.scss */
div#content #recent-uploads #recent-uploads-inner h1 {
  margin-left: 30px;
  text-align: left;
}
/* line 41, ../../assets-compass/sass/photo-manager.scss */
div#content #recent-uploads #recent-uploads-inner div.clearing-assembled div.carousel {
  padding-bottom: 20px;
  overflow-x: scroll;
}
/* line 45, ../../assets-compass/sass/photo-manager.scss */
div#content #recent-uploads #recent-uploads-inner div.clearing-assembled div.carousel ul {
  float: left;
  white-space: nowrap;
}
/* line 49, ../../assets-compass/sass/photo-manager.scss */
div#content #recent-uploads #recent-uploads-inner div.clearing-assembled div.carousel ul li {
  float: none;
  display: inline-block;
  position: static;
}
/* line 59, ../../assets-compass/sass/photo-manager.scss */
div#content #galleries {
  position: absolute;
  bottom: 0px;
  height: 65%;
  background-color: #424242;
}
/* line 65, ../../assets-compass/sass/photo-manager.scss */
div#content #galleries #galleries-inner {
  margin: 10px 10px 10px 10px;
  overflow-y: hidden;
  overflow-x: scroll;
}
/* line 70, ../../assets-compass/sass/photo-manager.scss */
div#content #galleries #galleries-inner h1 {
  margin-left: 30px;
  text-align: left;
}
/* line 76, ../../assets-compass/sass/photo-manager.scss */
div#content #content-bottom-bar {
  position: fixed;
  top: none !important;
  bottom: 45px;
  left: 45px;
  width: 100%;
  height: 40px;
  z-index: 1;
  background-color: #2a2a2a;
  #content-bottom-bar-inner-position: relative;
  #content-bottom-bar-inner-top: 0;
  #content-bottom-bar-inner-bottom: 0;
  #content-bottom-bar-inner-margin: 0px;
}
