!!!
%html
  %head
    %title
      = "Personal Life Manager | #{page}"
    %meta{:charset => "utf-8"}
  %body
    %header
    %section.container
      %div#content
        = yield
    %footer#footer
      %div#footer-contents
